<%include layout/head.html%>
<%include layout/header.html%>


<div class="container">
    <div class="row">
        <div class="col-md-8 col-center m-auto">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for carousel items -->
                <div class="carousel-inner">
                    <div class="item carousel-item active">
                        <h1>Recycling is the new black</h1>
                        <p class="testimonial">Si pour toi trier c'est so 2006, on va te montrer comment recycler peut te rapporter gros.</p>
                    </div>
                    <div class="item carousel-item">
                        <h1>Deviens le sage du recyclage</h1>
                        <p class="testimonial">Chaque déchet recyclé te rapporte des points et te rapproche un peu plus de la reconnaissance éternelle de Nicolas Hulot.</p>
                    </div>
                    <div class="item carousel-item">
                        <h1>Time is money</h1>
                        <p class="testimonial">Convertis tes points en récompense pour rouler en Lambo sur les champs, mais en autopartage.. et avec du bio carburant. </p>
                    </div>
                </div>
                <!-- Carousel controls -->
                <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <a href="something" class="button3">Inscription</a>
    </div>
    <div class="col-12">
        <a href="log-in.html">J'ai déjà un compte</a>
    </div>
</div>

<%include layout/footer.html%>
