<%include layout/head.html%>
<%include layout/header.html%>
<div class="background">
    <img class="background" src="img/Background-simple.png" style="height: 100vh"/>
    <div class="retour">
        <a href="/user"><img class="img-retour" alt="Flèche de retour" src="img/left-arrow.png" /></a>
    </div>

    <div class="container">
        <h3 style="margin-top: 30px; font-size: 16px;">RECYCLAGE</h3>
        <div class="contenu-recyclage">
            <h1 style="margin-bottom: 0px; font-size: 3em">Ou recycler</h1>
            <span style="font-size: 3em; font-weight: bold">ma bouteille de vin ?<img style="width: 15%; margin-left: 10px" src="img/loupe.png"/></span>
        </div>

        <img style="max-width: 100%; margin: auto; margin-top: 25em;" src="img/Capture1.PNG"/>

    </div>

</div>
<%include layout/footer.html%>