<%include layout/head.html%>
<%include layout/header.html%>
<div class="agile">
    <div class="signin-form profile">
        <h3>Inscription</h3>

        <div class="login-form">
            <form action="/" method="post">
                <input type="text" name="email" placeholder="E-mail" required="">
                <input type="text" name="username" placeholder="Username" required="">
                <input type="password" name="password" placeholder="Password" required="">
                <input type="password" name="passwordConf" placeholder="Confirm Password" required="">
                <input type="submit" value="REGISTER">
            </form>
        </div>
        <p><a href="#"> En appuyant sur m'enregistrer, j'accepte les termes de l'EULA.</a></p>
    </div>
</div>
<%include layout/footer.html%>