<%include layout/head.html%>
<%include layout/header.html%>

<div class="row">
    <div class='col-xs-12'>
        <h3>Inscription</h3>

        <div class="login-form">
            <form action="/sign-up" method="post">
                <input type="text" name="email" placeholder="Nom" required>
                <input type="text" name="email" placeholder="Prénom" required>
                <input type="text" name="username" placeholder="Identifiant" required>
                <input type="password" name="password" placeholder="Mot de passe" required>
                <input type="password" name="passwordConf" placeholder="Confirmer le mdp" required>
                <input type="submit" value="VALIDER">
            </form>
        </div>
        <p><a href="#">Pour sauvegarder ta liberté de penser, tu pourras toujours modifier ces paramètres plus tard.</a></p>
    </div>
</div>

<%include layout/footer.html%>