<body>
    <!--<nav style="background-color: transparent; border: none" class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button style="float: left; border: none" type="button" onclick="openNav();" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
    </nav>

    <div id="mySidenav" class="sidenav" style="background-color: white">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        <div class="container">
            <div id="moncercle"></div>
            <h5 style="color: #2993f8">IDENTIFIANT</h5>
            <h6 style="color: #2993f8">LEVEL 4</h6>
        </div>


        <aside>
        <a href="#"><img style="padding-right: 10px" src="img/console.png"/> LE JEU</a>
            <ul style="text-align: left; padding-left: 80px">
                <li>LES GRADES</li>
                <li>LA BOUTIQUE</li>
                <li>LES REGLES</li>
            </ul>
        </aside>
        <a href="#"><img style="padding-right: 10px" src="img/placeholder.png"/>TROUVER UNE BORNE</a>
        <a href="#"><img style="padding-right: 10px" src="img/info.png"/>QUI SOMMES NOUS</a>
        <a href="#"><img style="padding-right: 10px" src="img/sign-out.png"/>DECONNEXION</a>
    </div>-->

    <div class="container">